@page "/"

@inject Microsoft.Extensions.Localization.IStringLocalizer<App> Localize


<h1>@Localize["Index.About", _OrganizationName ?? string.Empty]</h1>

@if (_OrganizationAboutUs != null)
{
    <MudText Typo="Typo.body1">@((MarkupString)_OrganizationAboutUs)</MudText>
}
