<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="NetEvent - Custom Rules" ToolsVersion="17.0">
  <Include Path=".\lan2play_neteventcsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0659" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
  </Rules>
  <Rules AnalyzerId="Riok.Mapperly" RuleNamespace="Riok.Mapperly">
    <Rule Id="RMG012" Action="None" />
    <Rule Id="RMG020" Action="None" />
  </Rules>
</RuleSet>